
*{
    margin: 0;
    padding: 0;
}

.upper-nav img{
    border-radius: 50%;
}

.left-upper-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(137, 126, 126);
}

.upper-nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(89, 73, 73);
    color: rgb(198, 187, 187);
    padding:10px 10px;
    align-items: center;
}
.bottom-nav{
    background-color: gray;
    padding: 20px 0;
}

.bottom-nav ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.bottom-nav ul li{
 list-style-type: none;
 font-size: large;
 font-weight: bold;
 color: white;
}

.banner{
height: 250px;
background-color: red;
display: flex;
justify-content: center;
align-items: center;
}


body{
    width: 90%;
    margin: 0 auto;
}

.banner-content{
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bolder;
}

.btn{
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
   
    color: red;
}

.offer{
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;

}

.offer-title{
    color: red;
    margin-bottom: 10px;
}

.offer div{
    text-align: center;
}


.cards-container{
    display: grid;
    margin-top: 40px;
    padding:10px 50px 50px 50px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-items: center;
    overflow: auto;
    place-items: center;
}

.cards-container div{
    text-align: center;
    box-shadow: 10px  10px 50px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.product-title{
    margin: 15px 0;
}

.product-price{
    color: red;
}

.card-btn{
    padding: 10px;
    color: white;
    background-color: red;
    border-radius: 10px;
}

.cards-container div:last-child {
    grid-column: 2 / span 1; 
  }

  footer .footer-content{
    padding: 20px 0;
    background-color: black;
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }


  .title{
 
    text-align: center;
    margin-top: 30px;
  }
